<h1>Add a new expenditure below:</h1>

<%= form_for @expenditure, :html => { :multipart => true } do |form| %>

	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.label :price %><br>
		<%= form.text_field :price %><br>
	</p>


	<p>
		<%= form.submit %>
	</p>

<% end %>