<h1>Add a new expenditure below:</h1>

<%= simple_form_for @expenditure, :html => { :multipart => true } do |form| %>

	<p>
		<%= form.input :name, label: "Enter the name here:" %>
	</p>

	<p>
		<%= form.input :price, label: "Enter the price here:" %>
	</p>

	<p>
		<%= form.input :image, label: "Attach a photo:" %>
	</p>


	<p>
		<%= form.button :submit %>
	</p>

<% end %>

<strong>Otherwise, access the home page <%= link_to 'here', expenditures_path %></strong>